- if event.favorites.find_by(user_id: current_user.id).present?
  = link_to(event_favorite_path(event.id, event.favorites.find_by(user_id: current_user.id)), remote: true, method: :delete, class: "eventshow__container-side-fav-btn") do
    %span.eventshow__container-side-fav-span
      %i.eventshow__container-side-fav-ico-on
      お気に入りを解除
- else
  = link_to(event_favorites_path(event.id), remote: true, method: :post, class: "eventshow__container-side-fav-btn") do
    %span.eventshow__container-side-fav-span
      %i.eventshow__container-side-fav-ico-off
      お気に入り
