/*-- javascript style ---------------------------------- */
.display-none {
  display: none;
}

.inp-error {
    border: 1px solid #F88A8A;
    background: #F4D4D4;
}

.positon_fixed {
  position: fixed;
}
